.imgWrapper {
  overflow: hidden;
  max-height: 99px;
}

.media {
  position: relative;
  max-width: 600px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
}

#musicFiles {
  position: relative;
}



body {
  background-color: #EEFFFF;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}



#message {
  position: fixed;
  top: 10px;
  width: auto;
  left: 50%;
   z-index: 1060;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}



#selectedItemPanel {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    width:100%;
    height:100%;
    background-color: rgba(100,100,100, 0.8);
}

#largeImg {
  max-width: 150px;
}

#inputForm {
  display: inline-block;
  text-align: center;
}

#editForm {
  max-width: 600px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
}
